.btn_pink {
    padding: 10px 29px;
    
    background-color: var(--text-purple-color);
    border-radius: 10px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    
    color: var(--text-color);

    transition: all .3s ease;

    &:hover {
        box-shadow: 3px 3px 14px var(--text-op2-color);
    
        transition: all .3s ease;
    }
}
