.creator {

    .body {
        display: flex;
        justify-content: space-between;

        padding: 30px 145px 30px 69px;

        width: 100%;
        background: #A658B3;
        border-radius: 27px;

        .block {
            display: flex;
            flex-direction: column;
            gap: 22px;
            max-width: 461px;
            .title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 121%;
                
                color: var(--text-color);
            }
            .text {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                
                color: var(--text-color);
            }
            .form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 10px;
                padding: 6px 6px 6px 14px;
                background: #73088580;
                border-radius: 27px;

                .input {
                    background: #72088500;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 119%;
                    &::placeholder {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 200;
                        font-size: 16px;
                        line-height: 119%;
                        
                        color: var(--text-color);
                    }
                }
                .btn {
                    padding: 9px 15px;
                    background: #D9D9D9;
                    border-radius: 27px;
                    color: #A658B3;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 121%;
                    transition: .5s;
                }
            }
        }
        .img {
            img {
                max-width: 217px;
                animation: 4s linear rot alternate infinite running ;
                -webkit-animation: 4s linear rot alternate infinite running ;
            }
        }
        @media (max-width: 1024px){
            padding: 30px 69px;
        }
        @media (max-width: 830px){
            .img {
                display: none;
            }
        }
        

        @keyframes rot {
            0% {
            transform: rotate(-10deg);
            }
            100% {
            transform: rotate(20deg);
            }
        }
        @-webkit-keyframes rot {
            0% {
            transform: rotate(-10deg);
            }
            100% {
            transform: rotate(20deg);
            }
        }
    }
      
    
    
    #check-email {
    height: 20px;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 22px;
    }
    
    .creator__error-email {
    color: rgb(255, 0, 0);
    text-shadow: 0px 1px 14px red;
    }
    
    .creator__valid-email {
    color: rgb(47, 255, 193);
    text-shadow: 0px 1px 15px rgb(47, 255, 193);
    }
    
    


    

    
    .creator__polygon {
    display: flex;
    align-items: center;
    }
    
    .creator__polygon img {
    width: 100%;
    }
}
  
